ion-item {
  margin-bottom: 12px;
}
ion-label {
  font-weight: bold;
}
.margin-top {
  margin-top: 20px !important;
}
.btn {
  border-radius: 12px;
  font-weight: 300;
  margin: 0 auto;
  font-size: 1.25rem;
  width: 90%;
  height: 56px;
  margin-bottom: 10px;
}
ion-datetime {
  --ion-text-color: #020202 !important;       /* (opcional) texto legible */
}
