<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar {{ type === 'expense' ? 'Gasto' : 'Ingreso' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="margin-top">
    <ion-label position="stacked">Monto</ion-label>
    <ion-input type="number" [(ngModel)]="amount" placeholder="0"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Categoría</ion-label>
    <ion-select [(ngModel)]="category" placeholder="Selecciona">
      <ion-select-option *ngFor="let c of categories" [value]="c">{{ c }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fecha</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="description" rows="4"></ion-textarea>
  </ion-item>

  <ion-button expand="block" color="primary btn" (click)="guardar()">Guardar</ion-button>
</ion-content>
