<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>GastoFácil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="balance-card">
    <div class="balance-title">Balance</div>
    <div class="balance-amount">\${{ balance | number:'1.0-0' }}</div>
  </div>

  <ion-button expand="block" color="primary" (click)="goRegister('expense')">Registrar Gasto</ion-button>
  <ion-button expand="block" color="tertiary" (click)="goRegister('income')">Registrar Ingreso</ion-button>

  <ion-item lines="none" (click)="openReports()" detail>
    <ion-label>Ver Reportes</ion-label>
  </ion-item>
</ion-content>
