<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>GastoFácil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home-content">
  <div class="balance-card">
    <div class="balance-title">Balance</div>
    <div class="balance-amount">${{ balance | number:'1.0-0' }}</div>
  </div>

  <ion-button expand="block" color="primary btn" (click)="goRegister('expense')">Registrar Gasto</ion-button>
  <ion-button expand="block" color="tertiary btn" (click)="goRegister('income')">Registrar Ingreso</ion-button>
  <ion-button expand="block" color="dark btn position-bottom" (click)="openReports()">Ver Reportes</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-title class="footer-text">© 2025 GastoFácil. Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>
