.chart-container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto 16px;
  text-align: center;
  font-weight: 400;
}
.title-center {
  text-align: center;
  text-decoration: underline;
  font-weight: 400;
}
