@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

body {
  background: #f7f7f7;
}

:root {
  --ion-background-color: #f7ffab; /* Color nuevo */
  --ion-text-color: #43a5a0;       /* (opcional) texto legible */
}
